* {
  box-sizing: border-box;
}
body {
	background-size: 100%;
	background-image: url(fondo.png);
	font-family: Georgia, serif;
	font-size: 21px;
	font-weight: 900;
	font-style: italic;
	text-align: justify;
}
header p{
	background-image: url(fondo1.jpg);
	/*background-image: url(fondo2.png);*/
	/*background-image: url(fondo3.jpg);*/
	/*background-image: url(fondo4.jpg);*/
	background-repeat: repeat-x;
}
h1{
	text-align: center;
	color: #FFC300;
}
.bot {
	padding: 10px;
	text-align: center;
	cursor: pointer;
	width: 100%;

}
.bot a:link, a:visited{
	text-decoration: none;
	color: black
}
.bot a:hover {
	background-color:#CEA82D;
	border: 5px outset #A58726;
}
.bot a:active{
	background-color: #90792E;
	border:5px inset #8F6C22 ;
}
.bot a{
	padding: 10px;
	border: 5px outset #E9B200;
	background-color: #FFC300;
	display: inline-grid;
}
#icon{
	color: white;
	background: black;
	position: relative;
	top: 10px;
	left: 5px;
	border: grey dashed 7px;
	padding: 10px;
	text-align: center;
	width: 200px;
	margin-bottom: 20px;

}